<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="First Test">
    <classes>
      <class name="com.tutorial.testng.suitetest.TestClassOne"/>
      <class name="com.tutorial.testng.suitetest.TestClassTwo"/>
    </classes>
  </test>
  <test name="Second Test">
    <classes>
      <class name="com.tutorial.testng.suitetest.TestClassThree"/>
    </classes>
  </test>
</suite> 
